.cta {
  background-color: var(--accent-primary);
  border-radius: 0.8rem;
  color: black;
}
.cta:hover {
  cursor: pointer;
  background-color: var(--accent-primary-hover);
}
.section {
  margin: 12rem 4rem;
}
.active {
  background-color: #10231d;
}
.active h2 {
  color: var(--accent-primary);
}
