:root {
  /* ==== FONTS ==== */
  --heading-font: "Cinzel", serif;
  --body-font: "Montserrat", sans-serif;
  /* ==== COLORS ==== */
  --main-bcg: #05070b;
  --card-bcg: #101620;
  --text-color: #f5f7fa;
  --text-color-muffled: #8b93a3;
  /* Accents */
  --accent-primary: #00e5a0;
  --accent-secondary: #0e2019;

  --accent-primary-hover: #00ffb3;
  --text-color-hover: #7dd3fc;
}
