:root {
  /* ==== FONTS ==== */
  --heading-font: "Cinzel", serif;
  --body-font: "Montserrat", sans-serif;
  /* ==== COLORS ==== */
  --main-bcg: #05070b;
  --card-bcg: #101620;
  /* Accents */
  --accent-primary: #00e5a0;
}
