@import url("css/variables.css");
/* ==== MAIN ==== */
body {
  background-color: var(--main-bcg);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: 1.4rem;
}
/* ==== HEADER ==== */
header {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 4rem;
  border-bottom: 1px solid #1c2230;
  align-items: center;
}
.logo-container {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-weight: 700;
  font-family: var(--heading-font);
}
.logo-container a {
  font-size: 2.4rem;
}
.logo-container i {
  color: var(--accent-primary);
  font-size: 1.2rem;
}
header nav {
  display: flex;
  gap: 4rem;
}
header nav a:hover {
  cursor: pointer;
  color: var(--text-color-hover);
}
.header-cta {
  padding: 1.2rem 3.2rem;
  font-weight: 600;
}
/* ==== HERO ==== */
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
  align-items: center;
}
.catchphrase {
  color: var(--accent-primary);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 600;
}
.catchphrase i {
  font-size: 0.8rem;
}
.hero-container h1 {
  font-size: 4.8rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
.hero-container p {
  color: var(--text-color-muffled);
  font-size: 1.8rem;
  width: 50ch;
  text-align: center;
  font-weight: 500;
}
.cta-container {
  display: flex;
  gap: 2.4rem;
}
.hero-cta {
  padding: 1.4rem 3.2rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.secondary-cta {
  border: 1px solid var(--text-color-muffled);
  border-radius: 0.8rem;
}
.secondary-cta:hover {
  background-color: var(--card-bcg);
}
/* Visual example */
.hero-visual-example-container {
  border: 1px solid var(--text-color-muffled);
  border-radius: 1.6rem;
  min-width: 80rem;
}
.visual-example-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: var(--text-color-muffled);
  font-size: 1.2rem;
  border-bottom: 1px solid var(--text-color-muffled);
  padding: 0.8rem 1.6rem;
}
.header-object {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.header-object i {
  font-size: 0.4rem;
}
.players-container {
  display: flex;
  justify-content: space-between;
}
.player:first-child {
  border-bottom-left-radius: 1.6rem;
}
.player {
  flex-grow: 1;
  padding: 2.4rem;
  border-left: 1px solid var(--text-color-muffled);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player span {
  font-weight: 600;
}
.player h2 {
  font-size: 4.2rem;
  font-weight: 600;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.2rem;
}
#sp {
  color: #ff3b5c;
}
#tp {
  color: #7dd3fc;
}
/* ==== INFO SPACER ==== */
#info-spacer {
  border-top: 1px solid var(--text-color-muffled);
  border-bottom: 1px solid var(--text-color-muffled);
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 3.2rem 0;
}
.info-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.info-container h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.info-container span {
  color: var(--text-color-muffled);
}
.section-heading {
  color: var(--accent-primary);
  font-weight: 700;
}
.section-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  align-items: center;
}
.section-header span {
  font-size: 3.2rem;
  font-weight: 700;
}
.section-header p {
  width: 40ch;
  color: var(--text-color-muffled);
  font-size: 1.6rem;
}
.card-container {
  display: flex;
  gap: 2.4rem;
  margin-top: 4rem;
}
.card {
  flex-grow: 1;
  background-color: var(--card-bcg);
  padding: 4rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border-radius: 1.6rem;
}
.selected {
  border: 2px solid var(--accent-primary);
  border-radius: 1.6rem;
  background-color: #10231d;
}
.green-outer {
  border: 3px solid var(--accent-primary);
}
.green-inner {
  background-color: var(--accent-primary);
}
.unselected-outer {
  border: 1px solid var(--text-color-muffled);
}
.unselected-inner {
  background-color: var(--text-color-muffled);
}
.outer-ring {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-ring {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
.card span {
  font-size: 2.4rem;
  font-weight: 700;
}
.card p {
  width: 25ch;
  color: var(--text-color-muffled);
}
.card:hover {
  cursor: pointer;
}
